* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common classes.. */
.text-dec {
  text-decoration: none;
  color: black;
}
/* ......................................................................header................................................... */
/* ..........................headCard-1........................ */
.headCard-1 {
  padding: 0em 5.2em;
  font-size: 19px;
  display: flex;
  gap: 1em;
  background: black;
  color: white;
  height: 40px;
  align-items: center;
}

.headCard-1 span {
  padding: 7px 10px;
}
.headCard-1 span:hover {
  background-color: white;
  color: black;
  border-bottom: 4px solid blue;
}

/* ........................................headCard-2.......................... */
.headCard-2 {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 5.7em;
  margin-bottom: 10px;
}
h1 {
  font-size: 2.5em;
  color: rgb(0, 102, 255);
}

.serchCard-head {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.serchCard {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 1.5em;
}

.serchCard a {
  text-decoration: none;
  color: black;
}

/* .........input........ */
.inputCard {
  display: flex;
  height: 50px;
  align-items: center;
  border: 1px solid rgba(117, 116, 116, 0.181);
  border-radius: 30px;
  padding: 3px 3px;
  position: relative;
}

.inputCard:hover {
  background-color: rgba(0, 140, 255, 0.166);
}

.inputCard input {
  border: hidden;
  border-radius: 30px;
  padding: 15px;
  background: none;
  font-size: 1em;
  width: 35em;
}
.inputCard input:focus {
  outline: 2px solid blue;
}

.inputCard button {
  padding: 5px;
  background-color: rgb(0, 102, 255);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  color: white;
  position: absolute;
  right: 7px;
}

.search-p {
  position: absolute;
  font-size: 1em;
  right: 0px;
  top: -30px;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 7px;
  background-color: rgb(0, 102, 255);
  display: none;
}
.inputCard button:hover + .search-p {
  display: block;
}

.serchCard > :nth-child(-n + 2) {
  border-radius: 10px;
  padding: 10px;
}
.serchCard > :nth-child(-n + 2):hover {
  background-color: rgba(0, 140, 255, 0.166);
}

/* .........................loginCard....................... */
.loginCard {
  display: flex;
  align-items: center;
  gap: 1em;
}

.loginCard a {
  text-decoration: none;
  color: rgb(0, 102, 255);
}
.loginCard a:hover {
  text-decoration: underline;
}
.ai-btn {
  width: 3em;
  height: 3em;
  border-radius: 10px;
  background: none;
  border: none;
  font-size: 1em;
}
.join-btn {
  height: 40px;
  width: 7em;
  font-size: 1em;
  color: blue;
  border: 1px solid;
  background: none;
  border-radius: 10px;
  font-weight: 500;
}

.loginCard > :nth-child(odd):hover {
  background-color: rgba(0, 140, 255, 0.166);
}

/* ...................main hero css....................... */

.hide {
  border-right: 5em solid white;
  border-left: 5em solid white;
  border-top: 1px solid rgba(142, 142, 211, 0.518);
  /* margin-top: 10px; */
}
::-webkit-scrollbar {
  display: none;
}
.hide:hover {
  box-shadow: inset 0 10px 10px white;
}
.hero {
  display: flex;
  padding: 1em 1em;
  height: 23em;
  overflow-x: scroll;
  gap: 20px;
}

.inner-hero {
  flex-shrink: 0;
  display: flex;
  height: 100%;
  width: 47%;
  border-radius: 30px;
  transition: all 0.2s linear;
}

.inner-hero:hover {
  transform: scale(1.01);
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
  gap: 5px;
}

.hero-img {
  height: 100%;
  width: 100%;
}

.hero-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.hero-text a {
  padding: 8px 13px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 5px;
}

.hero-text h2 {
  font-size: 2em;
}

.h-1 {
  background-color: rgb(0, 86, 210);
}
.t-1 {
  width: 100%;
  color: white;
}
.a-1 {
  background-color: white;
  border: 1px solid white;
  width: 7em;
}

.h-2 {
  background-color: rgb(240, 246, 253);
}
.a-2 {
  width: 9.5em;
  border: 1px solid;
}
.t-1 {
}

.h-3 {
  background-color: rgb(255, 244, 232);
}
.a-3 {
  background-color: blue;
  color: white;
  width: 8.5em;
  font-weight: 600;
}
.t-1 {
}

/* .................................................Populer class section............................................. */

.p-h {
  margin: 1.5em 4em 0em;
}
.p-1 {
  border-right: 5em solid white;
  border-left: 5em solid white;
  margin-top: 0px;
  padding: 1em 1em;
  height: 25em;
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
}

.p-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 33%;
  background-color: rgb(227, 237, 251);
  padding: 20px 15px;
  border-radius: 10px;
}

.p-3 {
  background-color: white;
  padding: 9px;
  display: flex;
  gap: 10px;
  height: 95px;
  border-radius: 10px;
  transition: all 0.2s;
}
.p-3:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.495);
}
.p-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-image {
  border-radius: 10px;
  height: 100%;
  width: 80px;
  background-color: white;
}
.p-image img {
  object-fit: cover;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.p-data {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.p-about {
  display: flex;
  gap: 20px;
}

/* ......................................program section........................... */
.program-1 {
  padding: 0 6em;
  margin-top: 15px;
}

.program-main {
  border-radius: 30px;
  padding: 20px;
  height: 23em;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgb(8, 100, 236),
    rgba(134, 188, 235, 0.708),
    rgb(132, 197, 201),
    rgba(52, 235, 119)
  );
}

.program-child-1 {
  display: flex;
  gap: 15px;
  padding-left: 20em;
}
.program-child-1 button {
  padding: 9px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
}
.program-child-2 {
  display: flex;
  gap: 12px;
  height: 95%;
}
.program-child-2i {
  width: 20%;
}
.child-i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 20px;
  gap: 10px;
}
.child-i button {
  width: 12em;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid blue;
  background: white;
}
.child-i button a {
  color: rgb(0, 94, 208);
  font-weight: 600;
}

.child-j {
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.program-child-2i-img {
  height: 65%;
  width: 100%;
}
.program-child-2i-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.program-child-2i-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  padding: 10px 5px;
}
/* .......................discount & offer ..................*/
.discount {
  padding: 0 6em;
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
}
.discount-b2 {
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  height: 14em;
  background-color: rgb(197, 73, 169);
  border-radius: 30px;
  overflow: hidden;
}
.b2i-color {
  background-color: rgb(0, 39, 97);
}
.discount-about {
  width: 72%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 23px;
  gap: 10px;
  color: white;
  padding: 0 25px;
}
.d-a-btn {
  width: 11em;
  padding: 8px;
  border: 2px solid blue;
  border-radius: 5px;
}
.d-a-btn a {
  color: blue;
  text-decoration: none;
  font-weight: 600;
}
.discount-img {
  width: 50%;
  height: 100%;
}
.discount-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 30px;
}

/* company & universiti */
.companies-a {
  padding: 0px 5.5em;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.c-b {
  font-size: 22px;
  padding: 0 10px;
}
.c-c {
  display: flex;
  gap: 10px;
}
.c-d-btns {
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid rgb(233, 238, 247);
  transition: all 0.2s linear;
  font-size: 15px;
  font-weight: 400;
}

.c-d-btns:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.393);
}

/*......................... career & degree........................ */
.career-degree {
  padding: 0 6em;
  margin-top: 2.5em;
  margin-bottom: 2em;
  display: flex;
  gap: 1.3em;
  height: 7.5em;
}
.career-1 {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 20px;
  background: linear-gradient(90deg, rgb(241, 246, 253), rgb(249, 244, 254));
  transition: all 0.2s linear;
}
.career-1:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.141);
}
.career-1-headline {
  width: 90%;
  font-size: 20px;
}

.career-1-image {
  align-items: center;
  display: flex;
  width: 12%;
  height: 35%;
  margin-right: 30px;
}
.career-1-image img {
  height: 100%;
  width: 100%;
}

/*.......................................... categori................................................. */
.categori-A {
  padding: 0px 5.5em;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.categori-A h3 {
  font-size: 22px;
  padding: 0 10px;
}
.categori-A1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.categori-A1-btn {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(240, 246, 253);
  border: 1px solid rgb(233, 238, 247);
  transition: all 0.2s linear;
  font-size: 15px;
  font-weight: 400;
}
.categori-A1-btn:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.393);
}

/* .................trending ............... */
.trending-serch {
  padding: 1em 6em;
}
.trending-serch-card {
  border-right: 5em solid white;
  border-left: 5em solid white;
  margin-top: 0px;
  padding: 1em 1em;
  height: 25em;
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
}
.trending-s-c-A {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 33%;
  background-color: rgb(227, 237, 251);
  padding: 20px 15px;
  border-radius: 10px;
}
.trending-s-c-A1 {
  background-color: white;
  padding: 9px;
  display: flex;
  gap: 10px;
  height: 95px;
  border-radius: 10px;
  transition: all 0.2s;
}
.trending-s-c-A1-img {
  border-radius: 10px;
  height: 100%;
  width: 80px;
  background-color: white;
}
.trending-s-c-A1-img img {
  object-fit: cover;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.trending-s-c-A1-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trending-A1-rating {
  display: flex;
  gap: 20px;
}

/* ...............career2.................. */
.career2 {
  align-items: center;
  background-color: rgb(240, 246, 253);
  margin: 0 6em;
  border-radius: 30px;
}
.career2-btn {
  padding: 10px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 15px;
  border: 1px solid;
  border: 1px solid rgb(193, 203, 219);
  background-color: white;
  transition: all 0.2s linear;
}
.career2-btn:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.105);
}

/*.................... Explore2.......... */
.Ex-2 {
  padding: 1em 6em;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 2em;
}
.Ex-2-heading {
  display: flex;
  gap: 20px;
  font-size: 20px;
  align-items: center;
}

.ex-2-btn {
  padding: 10px;
  background: none;
  border: none;
  font-size: 15px;
  color: blue;
  transition: all 0.2s linear;
  border-radius: 10px;
}
.ex-2-btn:hover {
  background-color: rgb(240, 246, 253);
  text-decoration: underline;
}
.ex-2-btn a {
  color: blue;
  font-weight: 550;
}
.Ex-2-card {
  display: flex;
  gap: 15px;
}
.Ex-2-cards {
  height: 18em;
  width: 20%;
  border: 1px solid rgba(80, 78, 78, 0.268);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 10px;
  transition: all 0.2s linear;
  font-size: 17px;
}
.Ex-2-cards:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.105);
}

.Ex-2-cards img {
  height: 50%;
  width: 100%;
  object-fit: contain;
  background-color: rgb(255, 244, 232);
  border-radius: 10px;
}

/* .........................................graph.................... */
.graph-A {
  padding: 0 6em;
  margin-top: 3.5em;
}
.graph {
  display: flex;
  /* border: 1px solid; */
  align-items: center;
  gap: 29em;
  height: 12em;
  border-radius: 20px;
  background-color: rgb(1, 36, 87);
}
.graph-text {
  padding: 2em 1.8em;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  color: white;
}
.graph-text p {
  font-size: 20px;
}
.graph-text a {
  width: 8em;
  font-size: 16px;
  margin-top: 15px;
  background: none;
  border: none;
  font-weight: 600;
  color: white;
}
.graph-img {
  height: 100%;
  width: 17%;
}
.graph-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* .....................review................ */
.review {
  padding: 0 6em;
  margin-top: 3em;
  margin-bottom: 10em;
  height: 17em;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review-2 {
  height: 100%;
  display: flex;
  gap: 15px;
}
.review-child {
  padding: 20px;
  border: 1px solid ;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 25%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.216);
}
.review-child p{
  text-align: justify;
  font-size: 20px;
  color: rgb(72, 84, 110);
  margin-right: 10px;
}
.review-child-img {
  display: flex;
  gap: 15px;
  height: 25%;
  width: 100%;
  align-items: center;
}
.review-child-img img{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
